.LineTimetable h2 {
  margin-bottom: 15px;
  clear: both;
}

.LineTimetable .type-color {
  position: absolute;
  width: 4px;
  height: 22px;
  left: -7px;
}

.LineTimetable h3 div {
  height: 25px;
  background-color: red;
  width: 4px;
  color: transparent;
}

.LineTimetable .first-stop,
.LineTimetable .last-stop {
  font-weight: 600;
}

.LineTimetable .finalStops {
  font-weight: 700;
  margin-bottom: 5px;
}

.LineTimetable .streets {
  line-height: 1.4;
}

.LineTimetable .street {
  display: inline-block;
}

.LineTimetable .separator {
  margin: 0 5px;
  color: #666;
}

.LineTimetable .Route {
  width: 50%;
  float: left;
}

.LineTimetable .Route .finalStop {
  font-weight: 700;
}

.LineTimetable .routeContainer {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.LineTimetable .routeContainer a {
  color: #056b89;
}

.LineTimetable .routeContainer a:hover {
  color: #009788;
}

.LineTimetable .routeStop {
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
}

.LineTimetable .stopName {
  text-decoration: underline;
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.LineTimetable .container .info {
  background-color: rgba(255, 255, 255, 0.792);
  position: absolute;
  width: 100px;
  z-index: 100000000000000000;
  padding: 5px;
}

.LineTimetable .container {
  width: 100%;
  position: relative;
}

.info > div {
  display: flex;
}

.LineTimetable .info .bus-icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px;
  filter: brightness(0);
}

.LineTimetable .stopName .io {
  display: flex;
  align-items: center;
  height: 100%;
}

.LineTimetable .stopOther,
.LineTimetable .stopTime {
  width: 30px;
  color: #202020;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LineTimetable .map-container {
  width: 100%;
  height: 400px;
}

.LineTimetable .error-message {
  padding: 20px;
  background-color: #fde2e2;
  color: #c53030;
  border-radius: 4px;
  margin: 20px 0;
  text-align: center;
}

.LineTimetable .not-found {
  padding: 40px;
  text-align: center;
  color: #666;
  font-style: italic;
}

.LineTimetable .line-path {
  margin-bottom: 15px;
  padding-left: 10px;
  border-left: 3px solid #facf00;
}

@media only screen and (max-width: 1200px) {
  .LineTimetable .Route {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .LineTimetable .finalStops {
    font-size: 0.9rem;
  }

  .LineTimetable .streets {
    font-size: 0.8rem;
  }

  .LineTimetable h3 {
    font-size: 1.2rem;
  }
}
