.OptionalStop {
  width: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
}

.OptionalStop .rod {
  height: 50px;
  background-color: rgb(61, 61, 61);
  width: 2px;
  position: absolute;
  top: 0;
  transform: translateY(-60%);
}

.OptionalStop .dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: rgb(61, 61, 61);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
