.Vehicles .container .info {
  background-color: rgba(255, 255, 255, 0.792);
  position: absolute;
  width: 100px;
  padding: 5px;
}

.Vehicles .container {
  width: 100%;
  position: relative;
}

.info > div {
  display: flex;
}

.Vehicles .info .bus-icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px;
  filter: brightness(0);
}
