html {
  background-color: #212c3f;
}

.RealTimeDepartures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #212c3f;
  padding: 3rem 2.25rem 4.75rem 3rem;
}

.RealTimeDepartures .munip {
  width: 80px;
}

.background {
  width: 100%;
  background-size: cover;
  background-color: #343b4b;
}

.legend {
  width: 100%;
  box-sizing: border-box;
  height: 125px;
  background-color: #364761;
  display: flex;
  justify-content: space-between;
  padding-left: 3vh;
  padding-right: 3vh;
  color: white;
  font-size: 6vh;
  align-items: center;
}

.RealTimeDepartures .stop-header {
  display: flex;
  justify-content: space-between;
  font-size: large;
  align-items: center;
  text-align: center;
  height: 125px;
  width: 100%;
}

.RealTimeDepartures .stop-info {
  display: flex;
  justify-content: center;
  gap: 5vh;
  align-items: center;
  height: 100%;
  width: 80%;
}
.RealTimeDepartures .stop-header h1 {
  font-size: 8vh;
  color: white;
  margin: 0;
}

.RealTimeDepartures .stop-header h2 {
  font-size: 8vh;
  margin: 0;
}

.RealTimeDepartures .stop-id {
  font-size: 1.5rem;
  margin-left: 10px;
}

.RealTimeDepartures .back-button:hover {
  background-color: #e0e0e0;
}

.RealTimeDepartures .departures-container {
  width: 98%;
  margin: 0 auto;
}

.current-time {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.departures-container,
.column-time,
.countdown,
.current-time {
  color: orange;
  -webkit-text-stroke: 2px orange;
}

.RealTimeDepartures .table-header {
  display: flex;
  font-weight: 700;
  border-bottom: 2px solid #d0d0d0;
}

.RealTimeDepartures .departure-row {
  display: flex;
  padding: 4px 0;
  font-size: 5vh;
}

.RealTimeDepartures .departure-row:last-child {
  border-bottom: none;
}

.RealTimeDepartures .line-name {
  font-weight: 700;
  width: 10%;
  min-width: 70px;
}

.RealTimeDepartures .destination {
  width: 60%;
}

.RealTimeDepartures .departure-row > div:last-child {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.RealTimeDepartures .departing {
  animation: fadeInOut 1s infinite;
}

.RealTimeDepartures .no-departures {
  text-align: center;
  padding: 40px 0;
  color: #777;
  font-style: italic;
  font-size: 1.5rem;
}

.RealTimeDepartures .error-container button {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #056b89;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.RealTimeDepartures .error-container button:hover {
  background-color: #045570;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .RealTimeDepartures {
    display: block;
    padding: 3vh;
  }

  .RealTimeDepartures .stop-id {
    margin-left: 10px;
  }

  .legend {
    font-size: 1.9rem;
    padding-left: 1vh;
    padding-right: 1vh;
    height: 62px;
  }

  .departures-container,
  .column-time,
  .countdown,
  .current-time {
    color: orange;
    -webkit-text-stroke: 0;
  }

  .RealTimeDepartures .stop-header {
    height: 100px;
  }

  .RealTimeDepartures .munip {
    width: 50px;
  }

  .RealTimeDepartures .stop-header h1 {
    font-size: 2rem;
  }

  .RealTimeDepartures .stop-header h2 {
    font-size: 2rem;
  }

  .RealTimeDepartures .departure-row {
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
  }

  .RealTimeDepartures .line-name {
    width: 10%;
  }

  .RealTimeDepartures .destination {
    width: 60%;
  }

  .RealTimeDepartures .departure-row > div:last-child {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .RealTimeDepartures .departure-row {
    padding: 5px 0;
  }

  .RealTimeDepartures .stop-header {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    align-items: center;
  }
  .RealTimeDepartures .line-name {
    width: 20%;
  }
  .legend {
    font-size: 1rem;
    height: 40px;
  }

  .RealTimeDepartures .destination {
    width: 60%;
  }

  .RealTimeDepartures .departure-row > div:last-child {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }

  .RealTimeDepartures .stop-id {
    font-size: 1rem;
  }
  .RealTimeDepartures .departures-container,
  .RealTimeDepartures .stop-header {
    width: 100%;
  }

  .RealTimeDepartures .line-name {
    min-width: 45px;
  }

  .RealTimeDepartures {
    padding: 2px;
  }
  .RealTimeDepartures .departure-row {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }

  .RealTimeDepartures .stop-header h1 {
    font-size: 1.5rem;
  }

  .RealTimeDepartures .stop-header h2 {
    font-size: 1.5rem;
  }

  .RealTimeDepartures .munip {
    width: 50px;
    margin-left: 10px;
  }
}
