.StopTimetable {
  div {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  a {
    display: block;
    margin-bottom: 20px;
    width: 30%;
    color: #056b89;
  }

  a:hover {
    color: #009788;
  }

  @media only screen and (max-width: 1200px) {
    div {
      flex-direction: column;
      text-wrap: nowrap;
    }
  }
}
