.site-header {
  height: 70px;
  margin-bottom: 25px;
  background-color: #045b71;
}

.header-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  gap: 10px;
  align-items: center;
}

.site-header img {
  height: auto;
  max-height: 50px;
  width: auto;
  display: block;
}

.site-title {
  margin-left: 10px;
}

.site-title h1 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .site-header {
    height: 50px;
    margin-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header-container {
    width: 95%;
  }

  .site-title h1 {
    font-size: 1.2rem;
  }

  .site-header img {
    max-height: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .site-title h1 {
    font-size: 1rem;
  }

  .header-container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

@media print {
  .site-header {
    border-bottom: 1px solid black;
    height: auto;
    padding: 10px 0;
  }
}
