.News .news-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.News .news-item {
  border: 2px solid #d0d0d0;
  padding: 0 1rem 1rem 1rem;
  border-left: #facf00 10px solid;
}

.News .news-item h2 {
  margin: 1rem 0 0 0;
}

.News .news-date {
  display: block;
  margin-bottom: 20px;
  font-size: 0.9rem;
  color: #666;
}

.News .news-content {
  line-height: 1.5;
}

.News .no-news {
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  color: #666;
}

@media only screen and (max-width: 1200px) {
  .News .news-list {
    gap: 10px;
  }

  .News .news-item {
    padding: 0 0.75rem 0.75rem 0.75rem;
  }
}
