.News {
  > div {
    width: 100%;
    border: 2px solid #d0d0d0;
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
    position: relative;

    h2 + span {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  h2 {
    margin: 1rem 0 20px 0;
  }
}
